<form >
    <div class="field is-horizontal">
        <div class="field-body">
            <div class="feild is-narrow">
                <p class="control">
                    <input type="number" style="width: 100px;" class="input" placeholder="Amount">
                </p>
            </div>
            <div class="field">
                <p class="control">
                    <input type="text" class="input" placeholder="Description">
                </p>
            </div>
            <div class="field is-narrow">
                <button class="button is-primary" >Add</button>
            </div>
        </div>
    </div>
</form>