<section class="budget-item-section">
    <div class="budget-item-container">
        <div class="income-column">
            <h1>Income</h1>
            <app-budget-item-card></app-budget-item-card>
            <app-budget-item-card></app-budget-item-card>

        </div>
        <div class="expenses-column">
            <h1>Expense</h1>
            <app-budget-item-card></app-budget-item-card>
            <app-budget-item-card></app-budget-item-card>
        </div>
    </div>
</section>