@import '../../main-style.scss';

.budget-item-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    padding: 50px;
    .budget-item-container{
        display: flex;
        max-width: 680px;
        height: 100%;
        width: 100%;

        .income-column, .expenses-column{
            display: flex;
            flex-direction: column;
            flex-basis: 0;
            flex-grow: 1;
            h1{
                font-family: 'lato';
                font-size: 24px;
                font-weight: 900;
                text-transform: uppercase;
                
            }
        }
        .income-column{
            color: $green;
        }
        .expenses-column{
            color: $red;
        }

    }
}