<div class="top-bar">
    <h1>Budget Calculator</h1>
</div>

<section class="total-budget-section">
    <h2 class="red">1200</h2>
</section>

<section class="add-item-section">
    <div class="add-item-container">
        <app-add-item-form style="padding: 1em;"></app-add-item-form>
    </div>
</section>
<hr style="margin-top: 0;">
<app-budget-item-list></app-budget-item-list>