@import '../../main-style.scss';
.top-bar{
    display: flex;
    width: 100%;
    height: 68px;
    background: linear-gradient(75deg, rgb(214,180,247),rgb(173,203,231));

    justify-content: center;
    align-items: center;
    h1{
        font-size: 18px;
        font-family: 'lato';
        letter-spacing: 1px;
        font-weight: bold;
        text-transform: uppercase;
        color: $dark;
    }
}
.total-budget-section{
    display: flex;
    height: 250px;
    background: $dark;
    justify-content: center;
    align-items: center;

    h2{
        font-family: 'lato';
        font-weight: 300;
        font-size: 58px;
        color: white;

        &.green{
            color:lighten($color: $green, $amount: 12%);
        }
        &.red{
            color: lighten($color: $red, $amount: 12%);
        }
    }
}
.add-item-section{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}